html { scroll-behavior: smooth; }
[id] { scroll-margin-top: calc(var(--header-height) + 18px); }

html[dir='ltr'] .sidebar__link:hover {
  transform: translateX(2px);
}

html[dir='ltr'] .sidebar__link.is-active {
  box-shadow: inset 2px 0 0 var(--color-highlight);
}

html[dir='ltr'] .sidebar__link:hover .sidebar__link-arrow,
html[dir='ltr'] .sidebar__link.is-active .sidebar__link-arrow {
  transform: translateX(2px);
}
